---
---

@import "{{ site.theme }}";



.page-header {
     font-family: Calibri;
     background-image: url("/Digital-Health-Blog/assets/header-art.png");
     background-position: center;
     text-align: center;
     color: 10180C;
    
   }

blockquote {
    text-align: justify;
    border-left: 50px solid #ccc;
    margin: 1.5em 10px;
    padding: 2em 10px .2em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
