---
---

@import "{{ site.theme }}";

.btn {
  display: none !important;
}
@font-face {
        font-family: "Lato";
        src: url('698242188-Lato-Bla.eot');
        src: url('698242188-Lato-Bla.eot?#iefix') format('embedded-opentype'),
        url('698242188-Lato-Bla.svg#Lato Black') format('svg'),
        url('698242188-Lato-Bla.woff') format('woff'),
        url('698242188-Lato-Bla.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
}
.page-header {
     font-family: 'Lato', sans-serif;
     background-image: url("/Digital-Health-Blog/assets/header-art.jpg"), linear-gradient(#89DE54, #89DE54);
     backdrop-filter: blur(2px);
     height: 300px;
     background-position: right;
     background-repeat: no-repeat;
     text-align: center;
     color: #10180C;
     font-size: 70%;
   }

body {
    font-family: 'Lato', sans-serif;
    color: #000000;
    background-color: #F3F1F1;
  
}

.main-content h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: #1E3319;

}
figcaption {
    color: #6F6F6F;
}

blockquote p {
    text-align: justify;
    border-left: 50px solid #ccc;
    margin: 1.5em 10px;
    padding: 2em 10px .2em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
